#todo_input {
  display: flex;
  align-items: center;
}

#todo_input > input {
  flex: 1;
  border: 1px solid #818181;
}

#todo_input > button {
  margin-left: 5px;
}

.schedule{
  cursor: pointer;
  margin: 0 10px;
  width: 20px;
  height: 20px;
}