.calendar {
  top: 96px;
  right: 115px;
  position: absolute;
  background-color: white;
  border: 1.3px solid #818181;
  padding: 0 15px;
}

.calendar .table td {
  padding: 0px;
}

.calendar > .table button {
  margin: 3px;
  font-size: 12px;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  outline: none;
  text-align: center;
  border: none;
  transition: background-color 0.2s, color 0.2s;
}

.calendar > .calendarBar {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.calendar > .calendarBar .arrows {
  margin: 0 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.calendar > .calendarBar .month {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.calendar .tableMonth {
  width: 248px;
  background: white;
  left: -15px;
  top: 29px;
}

.calendar > .tableMonth button {
  margin: 5px;
  border-radius: 0;
  background: white;
}

.calendar > .calendarBar .month span {
  font-size: 0.9rem;
}

.calendar > .calendarBar .year {
  font-size: 0.9rem;
  margin: auto;
}

.calendar > .calendarBar .month .triangle {
  margin: 0 5px;
  transform: rotate(180deg);
  width: 8px;
  height: 8px;
}

.calendar > .calendarBar .month .monthList {
  top: 23px;
  left: -41px;
  position: absolute;
}

.calendar > .calendarBar .month .monthList li {
  cursor: pointer;
  font-size: 0.9rem;
  border: 0.5px solid #818181;
  padding: 5px;
  background-color: white;
  list-style: none;
}

.calendar > .btn-success {
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px auto;
  font-size: 0.9rem;
}
